footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer {
  border-top: 2px solid #d3dde6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-right: 30px;
}

.footer__col--contacts {
  width: 32%;
}

.footer__logo {
  font-size: 276px;
  height: 93px;
  margin-bottom: 20px;
  fill: #264158;
}

.footer__logo:hover {
  background-color: #c1c1bf26;
  border-radius: 50%;
  }


.footer__contacts-list {
  margin-bottom: 30px;
}

.footer__contacts-list-item {
  margin-bottom: 15px;
}

.footer__col--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col--nav,
.footer__col--type {
  padding-top: 40px;
}

.footer__col--nav {
  width: 26%;
}

.footer__nav {
  width: 38%;
  margin-right: 40px;
  color: #264158;
}

.footer__nav-item {
  margin-bottom: 25px;
  font-size: 18px;
}
.footer__nav-item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__nav-item:last-child {
  margin-bottom: 0;
}

.footer__nav-item svg {
  font-size: 40px;
  margin-left: 15px;
  fill: #264158;
}

.footer__type-list {
  margin-bottom: 25px;
}

.footer__type-list-item {
  font-weight: 700;
  margin-bottom: 30px;
}


.footer__type-list-item:last-child {
  margin-bottom: 0;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 25px;
}

.footer__social-list-item {
  margin-right: 25px;
  margin-bottom: 25px;
}

.footer__social-list-item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0 30px;
}

.footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 90px;
    position: relative;
}

.footer__col--contacts {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.footer__col {
    margin: 0 0 30px;
}

.footer__col:nth-child(1) {
    margin-bottom: 0;
}

.footer__col--nav,
.footer__col--type {
    padding-top: 0;
}

.footer__nav-item {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
}

.footer__col--nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.footer__col--type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.footer__type-list {
    margin-bottom: 0;
}

.footer__type-list-item {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 32px;
}

.footer__social-list {
    margin-bottom: 25px;
}

.footer__social-list-item {
    margin-right: 25px;
}

.footer__logo {
    font-size: 185px;
    height: 65px;
    margin: 0;
    position: absolute;
    top: 0;
}
.footer__col--contacts {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__col--contacts .button {
  margin: 0 auto;
}
}


@media (max-width: 1280px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }.footer__logo {
    font-size: 150px;
    height: 50px;
    width: auto;
  }

  .footer__contacts-list {
    margin-bottom: 15px;
  }

  .footer__nav-item {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .footer__nav {
    margin-right: 20px;
    width: calc(50% - 20px);
  }

  .footer__nav-item svg {
    width: 30px;
    margin-left: 10px;
    height: 30px;
  }

  .footer__type-list-item {
    margin-bottom: 15px;
  }

  .footer__social-list-item {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .footer__col--nav,
  .footer__col--type {
      padding-top: 20px;
  }

  .footer__content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
    .footer__col--contacts,
    .footer__col--nav {
        width: auto;
    }

    .footer__social-list-item {
        margin-bottom: 0;
        margin-right: 5px;
    }
    .footer__menu_item-b{
      font-size: 18px;
    }
  }
