body{
    font-size: 18px;
    color: #536779;
    font-weight: 400;
    font-family: 'Georgia', sans-serif;
    letter-spacing: 0.03em;
}
/*   в форме убирает контур  */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s;
}


  .link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 300ms linear, background-color 300ms linear;
  }

  .link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #536779;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.link--bold:after {
    height: 2px;
    bottom: -4px;
}
.list {
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}
ul,li{
    display: block;
    padding: 0;
    margin: 0;
}
main {
    overflow: hidden;
    margin-top: 153px;
}

.container {
    margin: 0 auto;
    padding-left: 19px;
    padding-right: 19px;
  }
 @media screen and (min-width: 479px) {
      .container
      {width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    }
}
 @media screen and (min-width: 767px) {
      .container {
        width: 768px;
    padding-left: 25px;
    padding-right: 25px;
    }
}
  @media screen and (min-width: 1279px) {
      .container {
        width: 1280px;
    }
}

.arrow_top:hover {
    background-color: #3492f0;
    z-index: 120;
}

.arrow_top {
    width: 80px;
    height: 80px;
  }

  #toTop.show {
    opacity: 1;
    visibility: visible;
    right: 47px;
    bottom: 152px;
    animation: pulse 1s ease-in-out infinite;
  }

  #toTop {
    position: fixed;
    display: inline-block;
    width: 80px;
    height: 80px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    visibility: hidden;
  }

  /* =========================== */

  .change-photos .change-photo img {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
  }
  .change-photos .change-photo:nth-of-type(2) {
    display: none;
  }

  .change-photos:hover .change-photo:nth-of-type(1) {
    display: none;
  }

  .change-photos:hover .change-photo:nth-of-type(2) {
    display: block;
    transition: all 0.3s ease;
  }

  .change-photos:hover {
    cursor: pointer;
    transition: all 0.3s ease;
  }

/* =========================== */

  .circle_bg {
    fill: #90a4ae;
    transition: fill 0.3s ease;
  }

  .arrow {
    fill: #ffffff;
  }

  #toTop:hover .circle_bg {
    fill: #00bcd4;
  }

.svg_phone-mob {
width: 25px;
height: 25px;
}

.header{
    padding: 11px 0 ;
    border-bottom: 2px solid #D3DDE6;
    background: #fff;

}
.header__set{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo__item{
    margin-right: auto;
}
.info__set{
    display: flex;
    align-items: center;
}
.info__set_mob{
    display: none;
    gap: 10px;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
}
.info__location{
    width: 25px;
    height: 25px;
}
.info__location_mod{
    width: 22px;
}
.info__text{
    width: 171px;
    font-size: 16px;
    color: #536779;
}
.info__text_mob{
    width: 100%;
    font-size: 16px;
    color: #536779;
}

.header__btn{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 55px;
    color: #fff;
    background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #98C5EB;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 0px 30px;
}
.header__btn:hover, .form__btn:hover{
    background: -o-radial-gradient(50% 50%, 62.25% 62.25%, rgba(83, 103, 121, .2) 0, rgba(211, 221, 230, .174) 100%), #76b2e4;
    background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, .2) 0, rgba(211, 221, 230, .174) 100%), #76b2e4;
    -webkit-box-shadow: 3px 3px 15px #76b2e4;
    box-shadow: 3px 3px 15px #76b2e4;
    transition: all .3s;
}
.header__btn_mob{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #98C5EB;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 27px 30px;
    display: none;

}
.header__btn_mob:hover{
    background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #62adeb;
    transition: all .3s;
}
.button--secondary:hover {
    background: -o-radial-gradient(50% 50%, 62.25% 62.25%, rgba(83, 103, 121, .2) 0, rgba(211, 221, 230, .174) 100%), #76b2e4;
    background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, .2) 0, rgba(211, 221, 230, .174) 100%), #76b2e4;
    -webkit-box-shadow: 3px 3px 15px #76b2e4;
    box-shadow: 3px 3px 15px #76b2e4;
}
.social-link__icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: #D3DDE6;

}
.social-link {
    font-weight: 400;
font-size: 18px;
line-height: 1.36;
color: #536779;
}

.geo {

    color:white;
}

.specialists_img {
    color: white;
    max-width: 390px;
    height: 390px;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.menu{
    display: flex;
    gap: 75px;
    margin-top:18px;
}
.header-menu{
    display: none;
}

.menu__item_a{
    font-size: 18px;
    color: #264158;
    padding-bottom: 11px;
}
.menu__item_a:hover{
    border-bottom: 2px solid #F79781;
}

/* .importend{
    padding-top: 153px ;
} */

.importend__title{
    font-style: normal;
    font-weight: 750;
    font-size: 37px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #0B151E;
    margin-bottom: 22px;
}

.importend__set{
    display: flex;
    justify-content: space-between;
}
.importend__left{
    width: 675px;
}
.importend__text{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    color: #98C5EB;
    gap: 4px;
    margin-bottom: 35px;
}
.importend__text::before{
    content: '';
    display: block;
    width: 3px;
    height: 34px;
    border-radius: 20px;
    background: #98C5EB;
}

.importend__text_mod{
font-weight: 400;
font-size: 20px;
line-height: calc(24 / 20) ;
color: #536779;
margin-bottom: 30px;
}

.importend__span{
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    color: #98C5EB;
    text-decoration-line: underline;
}
.importend__arrow__set{
    display: flex;
    align-items: center;
    gap: 11px;
    margin-top: 16px;
    font-weight: 400;
font-size: 20px;
line-height: calc(24 / 20);
}

.importend__arrow_text{
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #2F3F4A;
}

.importend__arrow_wrapp{
    display: flex;
    align-items: end;
    gap: 15px;
    margin: 35px 0;
}

.importend__btn{
    display: flex;
    background: #F79781;
    border-radius: 5px;
    padding: 25px 31px;
    color: #fff;
    gap: 5px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    height: 73px;
    width: 269px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.importend__btn_img{
    width: 20px;
    height: 20px;
}
.importend__arrow_down{
  /* width: 65px;
  height: 40px; */
  width: 33px;
  height: 33px;
}

.importend__arrow_span {
    font-weight: 700;
}

.importend__wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.importend__text_black{
    width: 150px;
    font-size: 20px;
    font-weight: 400;
    color: #536779;
    line-height: calc(24 / 20);
}
.importend__text_span{
    font-weight: 700;
}

.importend__text_orange{
    font-weight: 750;
    font-size: 30px;
    text-transform: uppercase;
    color: #F79781;
    margin-left: 14px;
    line-height: calc(37 / 30);
}

.importend__right, .importend__right-hidden{
    width: 582px;
    height: 500px;
    /* background: #F9FAFB; */
    background: #3492f033;
    border-radius: 15px;
}

.team{
    padding: 150px 0;
}
.team__title{
    font-weight: 750;
    font-size: 37px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #0B151E;
}

.team__set{
    display: flex;

}
.center{
    width: 540px ;
}
.center-img{
    margin: 0 auto;
   border-radius: 15px;
}
.slick-prev::before {
    content: none;
}
.slick-next::before {
    content: none;
}
.slick-next{
    content: '';
    background: url(../img/Arrow-right-slider.png) no-repeat center !important;
    width: 45px;
    height: 46px;
    /* right: -50px; */

}
.slick-prev{
    content: '';
    background: url(../img/Arrow-right-slider.png) no-repeat center !important;
    width: 45px;
    height: 46px;
    transform: rotate(180deg) translateY(50%);
    left: -50px;
}
.team__right{
    width: 689px;
}
.num__set{
    display: flex;
    padding: 34px 40px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 42px;
}
.num__text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 145px;
    font-weight: 700;
    font-size: 22px;
    width: 158px;
    color: #536779;
}
.num__span{
    font-size: 55px;
    color: #98C5EB;
    margin-bottom: 20px;

}
.num__line{
    width: 2px;
    height: 140px;
    background:  #D3DDE6;
}

.team__span{
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    color: #98C5EB;
    text-decoration-line: underline;
}
.team__text, .team__text_2{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #536779;
    margin-top: 35px;
}

.apply__line{
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
    z-index: -1;
}
.apply__title{
    /* margin-top: -417px; */
    margin-bottom: 80px;
}
.psychology__set{
    /* width: 442px; */
    display: flex;
    justify-content: space-between;
}
.psychology__wrapp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 168px;
    height: 186px;
    justify-content: center;
    align-items: center;
}
.psychology__circle{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: #F9FAFB;

}
.psychology__circle_img{
    padding:24px;
}
.psychology__text{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    width: 189px;
}
.psychology__wrapp_mod-1{
    margin: 33px 0 0 0;
}
.psychology__wrapp_mod-2{
    margin-top:86px;
}
.psychology__wrapp_mod-3{
    margin-top: 206px;
}
.psychology__wrapp_mod-4{
    margin-top: 100px;
}
.psychology__wrapp_mod-5{
    margin-top: 0px;
}

.specialists{
    padding: 150px 0 ;
}
.specialists__set{
    display: flex;
    justify-content: space-between;
    padding: 0px 0 20px;
    gap: 17px;
}
.specialists__kit{
    /* width: 390px ; */
    display: flex;
    flex-direction: column;
    padding: 27px 18px 5px 18px;
    background: #F9FAFB;
    border-radius: 15px;
    /* gap: 25px; */
}
.specialists__text{
    font-size: 22px;
    text-transform: uppercase;
    height: 51px;
}
.specialists__text_mod{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    color: #264158;
    padding-bottom: 36px;
}
.education__set{
    display: flex;
    gap: 24px;
    align-items: center;
    padding-bottom: 25px;
}
.education__img{
    width: 50px;
    height: 50px;
}
.education__text{
    font-size: 20px;
}
.education__btn_1{
    width: 235px;
    height:73px;
    padding: 27px 49px;
    background: #F79781;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 14px;
}
.education__btn_1:hover{
    background: #f88065;
    transition: all .3s;
}
.education__btn_2{
    width: 235px;
    height:73px;
    padding: 27px 49px;
    border: 1px solid #F79781;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #F79781;
    margin: 0 auto 0;
}
.education__btn_2:hover{
    color: #fff;
    background: #F79781;
    transition: all .3s;
}
.record_set{
    display: flex;
    justify-content: space-between;
    background: #F0F5F9;
    border-radius: 15px;
    padding: 100px ;
}

.record__left{
    width: 500px;
}
.record__title{
    align-items: center;
    font-size: 37px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 750;
    color: #0B151E;
}
.record__span{
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    color: #98C5EB;
    text-decoration-line: underline;
}
.record__text{

    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
}
.contact__form{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.input{
    width: 457px;
    height: 85px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    background: #FFFFFF;
    border-radius: 15px;
    padding-left: 60px;
    color: #536779;
    margin-bottom: 15px;
}
input::placeholder{
    color: #D3DDE6;
}
.form__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 259px;
    font-size: 18px;
    font-weight: 700;
    height: 73px;
    background: #F79781;
    border-radius: 5px;
    gap: 20px;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.form__btn:hover{
    background: #f88065;
    transition: all .3s;
}
.form__set{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 40px;
}
.price, .services, .about, .question{
    padding: 125px 0;
}
.price__set{
    display: flex;
    padding: 66px 0 20px;
    gap: 15px;
}
.price__wrapp{
    /* width: 425px; */
    /* width: 390px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 30px 44px 37px;
    background: rgba(211, 221, 230, 0.4);
    border-radius: 15px;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

}
.price__wrapp:hover {
    transform: scaleY(1.1);
    background: rgba(249, 250, 251, 1);
  }
.price__text{
    font-weight: 700;

    font-size: 30px;
    color: #D3DDE6;
    text-align: end;
}
.price__span{
    font-size: 16px;
}
.price__text_mod{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.done__set{
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.done__text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
}
.done__img{
    width: 34px;
    height: 35px;
    margin-right: 10px;
}
.money__set{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    margin-bottom: 44px;
}
.money__left{
    text-align: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 60px;
    line-height: calc( 73 / 60);
    margin-right: 52px;
}
.money__right{
    text-align: center;
    flex-direction: column;
    color: #F79781;
    font-weight: 700;
    font-size: 60px;
    line-height: calc( 73 / 60);
}
.money__span{
    font-size: 20px;
    margin-top: 10px;
}
.money__span-right{
    color: #536779;
}

.price__btn{
    width: 259px;
    background: #F79781;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.price__btn:hover{
    background: #f88065;
    transition: all .3s;
}
.services__set{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 127px;
}
.services__title, .price__title, .specialists__title, .apply__title, .contacts__title_mod, .main-title{
    font-weight: 750;
    font-size: 37px;
    /* line-height: calc( 59 / 37); */
    text-transform: uppercase;
    color: #0B151E;
}
.price__title, .specialists__title, .main-title  {
    margin-bottom: 44px;
}
.services__wrapp{
    display: flex;
    flex-direction: column;
    /* width: 370px; */
    gap: 20px;
}
.services__wrapp_mod{
    flex-direction: column-reverse;
}
.services__text_1{
    font-weight: 700;
    font-size: 28px;
    color: #264158;
}
.services__text_2{
    font-size: 18px;
    line-height: 1.3;
    margin-top: 15px;
}
.about{
    padding: 130px 0;
}
.about__img{
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
    z-index: -1;
}
.center-2{
    margin-top: -175px;
}
.center-img-2{
    margin: 0 auto;
}
.question__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 66px;
    background: #F0F5F9;
    border-radius: 15px;
}
.question__left{
    width: 440px;
}

.question__title{
    font-weight: 750;
font-size: 37px;
line-height: 69px;
text-transform: uppercase;
color: #0B151E;
}
.question__text{
    font-size: 20px;
    line-height: 24px;
    margin-top: 45px;
    color: #536779;
}
.label{
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 20px -13px;
    gap: 7px;
    cursor: pointer;
}
.custom-checkbox{
    position: relative;
    z-index: -1;
    opacity: 0;

}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #ffffff;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
}
.custom-checkbox:checked+label::before {
    border-color: #ffffff;
    background-color: #ffffff;
    background-image: url("../img/box.png");
}
.form__btn-2{
    background: #96BDDF;
    box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
    border-radius: 15px;
    margin: 0 auto;
}
.form__btn:hover, .price__btn:hover, .importend__btn:hover,.individual__btn:hover {
    /* font-weight: 800; */
        /* background: -o-radial-gradient(50% 50%, 62.25% 62.25%, rgba(83, 103, 121, .2) 0, rgba(211, 221, 230, .174) 100%), #F79781;
    background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, .2) 0, rgba(211, 221, 230, .174) 100%), #F79781; */
    -webkit-box-shadow: 3px 3px 15px #F79781;
    box-shadow: 3px 3px 15px #F79781;
    transition: all .3s;
}
.contacts{
    padding: 130px 0;
}
.contacts__set{
    display: flex;
    justify-content: space-between;
}
.contacts__left{
    display: flex;
    gap:40px;
    background: #F0F5F9;
    border-radius: 15px;
    padding: 55px;
}
.contacts__column{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contacts__title{
    font-weight: 700;
    font-size: 22px;
}
.contacts__title_mod{
    margin-bottom: 70px;
}
.contacts__kit{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 10px;
}
.contacts__text{
    color: #536779;
}
.contacts__text_mod{
    text-decoration-line: underline;

}
footer{
    padding-bottom: 50px;
}
.footer__set{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.f-logo{
    display: flex;
    flex-direction: column;
}
.f-logo__set{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.f-logo__img{
    width: 25px;
    height: 25px;
}
.f-logo__img_mod{
    width: 22px;
}
.f-logo__text{
    color: #536779;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer__menu_item-a{
    font-weight: 400;
    font-size: 18px;
    color: #264158;
}
.footer__menu_item-b{
    color: #264158;
    font-weight: 700;
    font-size: 20px;
}
.footer {
    border-top: 2px solid #d3dde6;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__col {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-right: 30px;
}
.footer__col--contacts {
    width: 32%;
}
.footer__logo:hover {
background-color: #c1c1bf26;
border-radius: 50%;
}
.footer__contacts-list {
    margin-bottom: 30px;
}
.footer__contacts-list-item {
    margin-bottom: 15px;
}
.footer__col--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__col--nav,
.footer__col--type {
    padding-top: 9px;
}

.footer__col--nav {
    width: 26%;
}

.footer__nav {
    width: 38%;
    margin-right: 40px;
    color: #264158;
}
.footer__nav-item {
    margin-bottom: 25px;
    font-size: 18px;
}
.footer__nav-item:last-child {
    margin-bottom: 0;
}
.footer__nav-item svg {
    font-size: 40px;
    margin-left: 15px;
    fill: #264158;
}
.wallet__set{
    display: flex;
    gap: 15px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}
.wallet__text{
    font-weight: 700;
    font-size: 18px;
    color: #536779;
}
.details{
    padding: 100px 0;
}
.details__set{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details__video{
    width: 582px;
    height: 586px;
    background: #F9FAFB;
    border-radius: 15px;
}
.reasons__title{
    width: 600px;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 30px;
    font-weight: 700;

}
.reasons__span{
    font-family: 'Georgia';
    font-weight: 400;
    font-style: italic;
    color: #97BFE0;

}
.reasons__span_mod{
    font-size: 70px;
}
.reasons__set{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.reasons__wrapp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
    text-align: center;
    padding: 32px 32px 50px 32px;
    background: #dbe0e4;
    border-radius: 10px;
    margin: 20px auto;
}
.reasons__img{
    width: 75px;
    height: 75px;
}
.reasons__text{
    font-weight: 700;
    font-size: 30px;
    color: #536779;
}
.reasons__img_1{
    width: 80px;
    height: 72px;
}
.reasons__img_2{
    width: 70px;
    height: 70px;
}
.reasons__img_3{
    width: 85px;
    height: 85px;
}
.teacher{
    padding: 150px 0;
}
.teacher__title{
    margin-bottom: 80px;
}
.teacher__set{
    display: flex;
    justify-content: space-between;
    background: #F9FAFB;
    border-radius: 15px;
    margin-bottom: 40px;
}
.teacher__left{
    border-radius: 15px;
    width: 516px;
    height: 673px;
}
.teacher__column{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 85px 56px;
}
.teacher__title_1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #264158;
}
.teacher__wrapp_1{
    display: flex;
    gap: 35px;
}
.teacher__kit{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}
.teacher__img{
    width: 50px;
    height: 50px;
}
.teacher__wrapp_text{
    width: 140px;
}
.teacher__text_2{
    width: 100%;
}
.teacher__wrapp_2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.teacher__wrapp_3{
    border: 1px solid #264158;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
}
.teacher__btn_set{
    display: flex;
    gap: 25px;
}
.teacher__btn_1{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    gap: 10px;
    color: #fff;
    padding: 25px 50px;
    background: #F79781;
    border-radius: 5px;
}
.teacher__btn_1:hover{
    background: #f88065;
    transition: all .3s;
}
.teacher__btn_2{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    gap: 10px;
    color: #F79781;
    padding: 25px 50px;
    border: 1px solid #F79781;
    border-radius: 5px;
}
.teacher__btn_2:hover{
    color: #fff;
    background: #F79781;
    transition: all .3s;
}
.experience{
    padding: 130px 0;
}
.experience__set{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.experience__title{
    margin-bottom: 70px;
}
.experience__column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experience__wrapp{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 26px 22px;
    background: #F9FAFB;
    border-radius: 15px;
}
.experience__text_1{
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
    color: #97BFE0;
}
.experience__text_2{
    width: 600px;
}
.apply__span{
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    color: #98C5EB;

}
.individual{
    padding-top: 100px;
}
.individual__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.individual__set_mod{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.individual__column{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 30px;
}
.individual__title{
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    color: #0B151E;
}
.individual__btn_set{
    display: flex;
    align-items: center;
    gap: 20px;
}
.individual__btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px 45px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    background: #F79781;
}
.individual__btn:hover{
    background: #f88065;
    transition: all .3s;
}
.individual__span{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;

    color: #536779;
}
.question_mod{
    padding-bottom: 100px;
}
.contacts_mod{
    padding: 100px 0;
}
.purse{
    padding: 100px 0;
}
.purse__title{
    text-transform: uppercase;
    margin-bottom: 80px;
}
.purse__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9FAFB;
    margin-bottom: 40px;
}
.purse__set_mod{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9FAFB;
    margin-bottom: 40px;
}
.purse__column{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 70px 85px;
}
.purse__text-1{
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;

    color: #264158;
}
.purse__span{
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    color: #D3DDE6;
}
.purse__btn_set{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px 40px;
    background: #F79781;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    width: 230px;
}
.purse__btn_set:hover{
    background: #f88065;
    transition: all .3s;
}
/* Стили фиксированного header */
.scrolled  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition:  0.3s ease-in-out;
}
.teacher__set_column{
    flex-direction: column-reverse;
}

.contacts__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 46px;
}
.contacts__links-list {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 50%;
    margin-right: 40px;
}
.contacts__links-list-item:not(:last-child) {
    margin-bottom: 50px;
}
.contacts__links-list-item {
    height: 68px;
}
.contacts__links-list-item-title {
    margin-bottom: 20px;
    font-weight: 700;
font-size: 22px;
line-height: 1.59;
color: #536779;
}
.contacts__links {
    display: flex;
    padding: 55px 0px 57px 33px;
    background-color: #F0F5F9;
    margin-right: 26px;
    width: 62%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 15px;
}
.price__mob{
    display: none;
    gap: 10px;
    margin: 15px;
    margin-left: 50px;
    align-items: center;
}
.apply {
    margin-top: 150px;
}
a.social-link {
    display: flex;
    align-items: center;
    transition: all .3s;
}
.header__logo {
    margin-right: 5px;
}
.header__logo:hover {
    background-color: #c1c1bf26;
    border-radius: 50%;
}
.svg-icon {
    display: inline-block;
}
.header__logo-icon {
    font-size: 276px;
    height: 93px;
    fill: #264158;
}
.header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.header__actions-item {
    margin-right: 26px;
}
.social-link:hover .social-link__icon {
    background: #536779;
}
.social-link__icon .geo {
    padding: 10px;
}

.social-link__icon .geo>path {
    fill: #fff !important;
}

.social-link:hover .geo>path {
    fill: #fff !important;
}

.social-link__icon-svg {
    font-size: 20px;
    fill: #fff;
}

.social-link__text {
    margin-left: 16px;
    font-size: 18px;
    color: #536779;
    position: relative;
}

.social-link__text:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #536779;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.link:hover {
    text-shadow: #2F3F4A;
}

.specialists__wrapp{
    width: 390px!important;
}

.arrow_size {
    width: 80px;
    height: 80px;
}

.EWBookingWidgetTrigger {
    z-index: 8 !important;
    opacity: 0;
    transition: .3s all;
}


@media screen and (min-width:1279.98px){
.importend__right-hidden {
    display: none;
}
.apply__title{
    margin-top: -417px;

}
}

@media (min-width: 768px){
.EWBookingWidgetTrigger {
    right: 30px;
    bottom: 30px;
}
}

/* 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px */

@media screen and (max-width:480px){
    .price{
     padding: 98px 0 0px 0;
    }
    .num__span{
        font-size: 35px;
        margin-bottom: 9px;

    }
    .importend__title{
        font-size: 30px;
        margin: -8px 0;
        margin-bottom: 22px;
    }
    .num__line{
        display: none;
    }
    /* .num__set{
        width: 100%;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    } */
    .center{
        width: 100% !important;
    }
    .center-2{
        width: 100% !important;
    }
    .details__video{
        width: 400px;
    }
.specialists__set{
    padding-bottom: 0px;
}
    .importend__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 226px;
        font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    }
    .importend__wrapp{
        text-align: center;
        margin-top: -20px;
    }
    /* .money__left{
        font-size: 40px;
    }
    .money__right{
        font-size: 40px;
    } */
    .price__wrapp{
        padding: 20px;
    }
    .question__set{
        padding: 20px;
    }
    .contacts__column{
        align-items: center;
        text-align: center;
    }
    .contacts__kit{
        flex-direction: column;
    }
    .footer__set{
        gap: 30px;
    }
    .purse__text-1{
        font-size: 20px;
    }
    .importend__text{
        font-size: 14px;
        width: 250px;
    }

    .num__line{
        display: none;
    }
    .num__set{
        flex-direction: column;
        gap: 49px;
        align-items: center;
    }
    .center{
        width: 100% !important;
    }
    .center-wrapp{
        width: 100%;
        height: 100%;
    }
    .center-img{
        width: 80%;
        height: 80%;
    }
    .specialists__set{
        width: 100% !important;
    }
    .specialists__wrapp{
        width: 270px
    }
    .specialists__set{
        width: 100% ;
    }

    .record__title{
        font-size: 35px;
        line-height: 1.17;
    }
    .record__span{
        font-size: 35px;
    }
    .record__text, .record__text_2{
        text-align: start;
        font-size: 16px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.2;
        /* margin-top: 40px; */
            }
    .record__text_2 {
margin-top: 17px;
    }
    .input{
        padding-left: 31px;
    }
    .center-2{
        width: 100% !important;
    }
    .question__set{
        padding: 30px;
    }
    .question__title{
        font-size: 40px;
    }
    .price__wrapp:hover {
        transform: scale(1);
    }
    .contacts__left{
        flex-direction: column;
        gap: 40px;
    }
    .record_set{
        padding: 30px;
    }

    .num__set{
        width: 100%;
    }
    iframe{
        height: 300px;
    }
    .footer__set{

        justify-content: center;
    }
    /* .team__text{
        text-align: center;
    } */
    .details__video{
        width: 100%;
    }
    .teacher__column{
        width: 100%;
    }
    .teacher__wrapp_1{
        flex-direction: column;
    }
    .teacher__wrapp_2{
        flex-direction: column;

    }
    .teacher__text_2{
        text-align: center;
    }
    .teacher__btn_1{

        justify-content: center;
    }
    .teacher__btn_set{
        flex-direction: column;
    }
    .teacher__btn_2{

        justify-content: center;
    }
    .individual__title{
        font-size: 40px;
        text-align: center;
    }
    .individual__text{
        text-align: center;
    }
    .individual__btn_set{
        flex-direction: column;
    }
    .purse__column{
        padding: 30px;
    }
       .importend__btn{
        align-items: center;
    }

    .money__left{
        font-size: 40px;
    }
    .money__right{
        font-size: 40px;
    }
    .price__wrapp{
        padding: 6px 120px 0px 21px;
        /* width: 304px; */
    }
    .question__set{
        padding: 20px;
    }
    .contacts__column{
        align-items: center;
        text-align: center;
    }
    .contacts__kit{
        flex-direction: column;
    }
    .footer__set{
        gap: 30px;
    }
    .purse__text-1{
        font-size: 20px;
    }

    .num__line{
        display: none;
    }
    .num__set{
        flex-direction: column;
        gap: 51px;
        align-items: center;
        width: 100%;
    }
    .center{
        width: 100% !important;
    }
    .center-wrapp{
        width: 100%;
        height: 100%;
    }
    .center-img{
        width: 80%;
        height: 80%;
    }
       .record__span{
        font-size: 35px;
    }
    .input{
        padding-left: 23px;
        font-size: 16px;
    }
    .center-2{
        width: 100% !important;
    }
    .question__set{
        padding: 30px;
    }
    .question__title{
        font-size: 40px;
    }
    .price__wrapp:hover {
        transform: scale(1);
    }
    .contacts__left{
        flex-direction: column;
        gap: 40px;
    }
    .record_set{
        padding: 30px;
    }
    iframe{
        height: 300px;
    }
    .footer__set{
        justify-content: center;
    }

    /* .team__text{
        text-align: center;
    } */
    .details__video{
        width: 100%;
    }
    .teacher__column{
        width: 100%;
    }
    .teacher__wrapp_1{
        flex-direction: column;
    }
    .teacher__wrapp_2{
        flex-direction: column;
    }
    .teacher__text_2{
        text-align: center;
    }
    .teacher__btn_1{
        justify-content: center;
    }
    .teacher__btn_set{
        flex-direction: column;
    }
    .teacher__btn_2{
        justify-content: center;
    }
    .individual__title{
        font-size: 40px;
        text-align: center;
    }
    .individual__text{
        text-align: center;
    }
    .individual__btn_set{
        flex-direction: column;
    }
    .purse__column{
        padding: 30px;
    }
    .importend__text_mod{
        font-size: 16px;
        margin-bottom: 0;
    }
    .importend__arrow_text{
        font-size: 16px;
    }
    .importend__btn{
        padding: 16px 15px;
    }
    .team__text, .team__text_2{
        font-size: 16px;
        line-height: 18.8px;
    }
    .team__text_2{
        margin-top: 21px;
    }
    .team__title{
        font-size: 30px;
        width: 278px;
    }

    .specialists__text{
        font-size: 14px;
    }
    .specialists__text_mod{
        font-size: 18px;
    }
    .education__btn_1{
        font-size:18px;
        margin-top: 21px;
    }
    .education__btn_2{
        font-size: 18px;
        /* margin-top: 20px; */
    }
    .record__span{
        font-size: 30px;
    }
      .form__set{
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        align-items: center;
        gap:36px;
    }
    .input{
        height: 73px;
        margin-bottom: 25px;
    }
    .importend__text_orange{
        font-size: 25px;
    }

    .price__text_mod{
        font-size: 18px;
        text-align: center;
    }
    .services__text_1{
        font-size: 17px;
    }
    .services__text_2{
        font-size: 15px;
    }
    .label{
        font-size: 15px;
    }
    .question__text{
        font-size: 20px;
    }
    .contacts__title_mod{
        font-size: 30px;
    }
    .reasons__text{
        font-size: 23px;
    }

    .apply__title, .specialists__title, .question__title, .reasons__title, .teacher__title, .purse__title, .main-title{
        font-size: 30px;
        padding-left: 5px;
    }
    .price__title, .services__title{
        font-size: 35px;
    }

    .teacher__btn_1{
        padding: 15px 25px;
    }
    .teacher__btn_2{
        padding: 15px 25px;
    }
    .individual__title{
        font-size: 30px;
        line-height: 45px;
    }
    .individual__text{
        font-size: 15px;
    }
    .individual__btn{
        padding: 15px 25px;
    }

    .purse__span{
        font-size: 50px;
    }
    .purse__text-2{
        font-size: 15px;
    }
    .purse__btn_set{
        padding: 15px 20px;
        justify-content: center;
    }
    .header__actions-phone {
        display:none;
    }
    .contacts__links {
        width: 100%;
        flex-direction: column;
    }
    .contacts__links-list {
        margin-bottom: 35px;
        width:100%;
    }
    .specialists__text_mod{
        padding-bottom: 34px;
        justify-content: start;
        display: flex;
    }
    .specialists__text{
        height: 33px;
        justify-content: start;
        display: flex;
        margin-top: 9px;
    }

    .education__set{
        padding-bottom: 15px;
        gap:15px;
    }
    .education__img{
        width: 30px;
        height: 30px;
    }
    .education__text{
        font-size: 16px;
    }
    .education__btn_1, .education__btn_2{
        width: 226px;
        height: 73px;
        padding: 27px 49px;
        border-radius: 5px;
        margin-bottom: 17px;
        /* margin-top: 20px; */
    }

}

/* 768px 768px 768px 768px 768px 768px 768px 768px 768px */


@media screen and (max-width:768px){


    .money__span{
        font-size: 18px;
        margin-top: 0px;
    }
    .money__set{
        margin-top: 69px;
        margin-bottom: 4px;
    }
    .done__set{
        gap: 16px;
    }

    .price__wrapp {
        width: 390px;
      }

      .price__btn {
        width: 243px;
        height: 67px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        box-shadow: 3px 3px 5px 0px rgba(106, 55, 44, 0.16);
        padding: 26px 25px 10px 5px;
    }
    /* .main-title  {
        margin: 0px 0 44px 0;
    } */

    .services {
        padding: 125px 0 125px 0;
    }

    .specialists_img {
        max-width: 290px;
        height: 292px;
    }
    .specialists__kit {
        width: 290px;
    }

    .form__btn-2 {
        border-radius: 5px;
    }

    #toTop.show {
        /* right: 12px;
        bottom: 131px; */
        right: -2px;
        bottom: 89px;
    }

       .arrow_size, .change-photos {
        width: 55px;
        height: 55px;
    }
	.importend__right-hidden {
        max-width: 335px;
        height: 286px;
        margin: 0 auto;
    }
    .info__set{
        display: none;
    }
	.num__set{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .num__line {
        display: none;
    }
    /* .center{
        width: 500px !important;
    } */
    .center-img{
        width: 278px;
        height: 297px;
        margin-top: 35px;
    }

    .center-2{
        width: 500px !important;
        margin: 0 auto;
    }
    .record_set{
        padding: 55px 12px 24px 26px;
    }
    .contacts__left{
        padding: 40px;
    }
    .details__video{
        /* width: 500px; */
        height: 500px;
    }
    .reasons__title{
        width: 100%;
    }
    .teacher__column{
        padding: 85px 26px;
    }
    .experience__wrapp{
        text-align: center;
    }
    .experience__text_2{
        width: 100%;
    }
    .importend__right{
        height: 350px;
    }
    .apply__title{
       margin-bottom: 73px;
    }
    /* .specialists__title{
        text-align: center;
    }
    .price__title{
        text-align: center;
    }
    .services__title{
        text-align: center;
    }
    .contacts__title_mod{
        text-align: center;
    } */
    .details__video{
        height: 350px;
    }
    .reasons__title{
        text-align: center;
    }
    .teacher__title{
        text-align: center;
    }
    .experience__title{
        text-align: center;
    }
    .purse__column{
        padding: 50px 65px;
    }
    .purse__title{
        text-align: center;
    }
    .importend__title {
        font-size: 25px;
    }
    .importend__arrow_wrapp{
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 26px 0;
        flex-direction: column;
    }
    .importend__arrow__set{
        font-weight: 400;
        font-size: 16px;
        line-height: calc(19 / 16);
    }
    .form__btn {
        width: 226px;
    }
    .apply {
        margin-top: 90px;
    }
    .svg-icon {
        width: 169px;
    }
    .contacts__links {
        width:100%;
    }
    .price-pagination,
    .spec-pagination {
        margin-top: 40px;
    }
}

/* 1280px 1280px 1280px 1280px 1280px 1280px 1280px 1280px 1280px 1280px*/


@media screen and (max-width:1279px) {

    main {
       margin-top: 36px;
    }
    .done__text {

        font-size: 16px;
    }
    .money__left{
        font-size: 40px;
    }
    .money__right{
        font-size: 40px;
    }
    .section__top {
        margin-bottom: 39px;
    }

    .importend__text_black{
        width: 124px;
        font-size: 14px;
    }

    .social-link__text {
        font-size: 14px!important;
    }
    .header__actions-address {
    display:none;
    }
    .input {
        margin-bottom: 25px;
    }
    .importend__right-hidden {
        margin: 0 auto;
        margin-top: 41px;
    }
    .header__btn{
        display: none;
    }
    .price__mob{
        display: flex;
        color: #264158;
    }
    .info__set_mob{
        display: flex;
        width: 100%;
    }

    .header__set{
        justify-content: space-between;
        height: 60px;
    }
    .header-menu{
        width: 30px;
        display: block;
    }
    .header__btn_mob{
        width: 226px;
        height:73px;
        display: block;
        margin: 20px;
        margin-left: 75px;
        font-size: 16px;
        border-radius: 5px;
        padding: 27px 19px;
    }
      .logo__item{
        margin: 0;
    }
    .info__set{
        margin: 0;
    }
    .importend__set{
        flex-direction: column;
        align-items: center;
        gap: 60px;

    }
    .importend__left{
        width: 100%;
    }
    .importend__right{
        width: 100%;
    }
    .importend__wrapp{
        justify-content: flex-start;
    }
    .team{
        padding: 44px 0 0 0;
        /* max-width: 357px; */
    }
    .team__set{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .team__right{
        width: 100%;
    }
    .apply__line{
        display: none;
    }
    .center {
        width: 85%;
        margin: 0 auto;
    }
    .slick-prev{
        display: none !important;
    }
    .slick-next{
        display: none !important;
    }
    .psychology__wrapp{
        margin: 0 auto ;
    }
    .psychology__set{
        width: 351px;
    margin: 0 auto;
    }
    .psychology__circle{
        width: 100px;
        height: 100px;
    }

    .psychology__text{
        width: 160px;
    }
    .specialists{
        padding: 100px 0 75px 0;
    }
    .specialists__wrapp{
        margin: 0 10px;
    }
    .record_set{
        flex-direction: column;
        align-items: center;
    }
    .record__left{
        width: 100%;
        margin-bottom: 35px;
    }
    .price__set{
        flex-wrap: wrap;
    }
    .services__set{
        flex-wrap: wrap;
        gap: 61px;
    }
    .services__wrapp{
        margin: 0 auto;
    }
    .center-wrapp-2{
        margin: 0 10px;
    }
    .question__set{
        flex-direction: column;
        gap: 40px;
        padding: 50px;
    }
    .question__left{
        width: 100%;
        text-align: center;
    }
    .contact__form{
        width: 100%;
    }
    .input{
        width: 100%;
        margin-bottom: 25px;
    }
    .contacts__set{
        flex-direction: column;
        gap: 40px;
    }
    iframe{
        width: 100%;
    }
    .contacts__left{
        gap: 0;
        justify-content: space-between;
    }
    .contacts__left{
        padding: 55px 100px;
    }
    .details__set{
        flex-direction: column;
        gap: 40px;
    }
    .teacher__set{
        flex-direction: column;
        align-items: center;
    }
    .teacher__left{
        width: 350px;
        height: auto;
    }
    .teacher__set_column{
        flex-direction: column;
    }
    .individual__set{
        flex-direction: column;
        gap: 30px;
    }
    .individual__column{
        width: 100%;
    }
    .individual__set_mod{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .psychology__set{
        justify-content: center;
    }

    .experience__set{
        flex-direction: column;
        gap: 30px;
    }
    .purse__set{
        flex-direction: column-reverse;
    }
    .purse__set_mod{
        flex-direction: column;
    }
    .about__img{
        display: none;
    }
    .center-2{
        margin: 0;
        width: 700px;
    }
    /* .center{
        width: 700px;
    } */
    .specialists__kit{
        text-align: center;
    }
    .education__text{
        text-align: start;
    }

    .services__wrapp_mod{
        flex-direction: column;
    }
    .contacts__left{
        padding: 60px;
    }
    .footer__set{
        flex-wrap: wrap;
        gap: 20px;
    }
    .importend{
        padding-top: 10px;
    }
    .importend__set{
        display: flex;
        flex-direction: column;
    }
    .details{
        padding-top: 35px;
    }
    .individual{
        padding-top: 35px;
    }
    .contacts_mod{
        padding-top: 35px;
    }
    .purse{
        padding-top: 35px;
    }
    .importend__right-visible {
        display: none;
    }
}

    .social-link:hover {
        cursor: pointer;
    }
    .social-link:hover .social-link__icon rect,
    .social-link:hover .social-link__icon svg.geo path,
    .social-link:hover .social-link__icon svg.inst path:first-child {
        fill: #536779;
    }
    .social-link:hover .social-link__text:after {
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

    .link:hover::after {
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
